* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.ad-bt {
  width: 90%;
  height: 30px;
}
button {
  background-color: black;
  color: white;
  border: none;
  width: 29%;
  height: 40px;
  margin-top: 5px;
}
button:hover {
  background-color: rgb(128, 0, 0);
}
.content {
  width: 1366px;
  margin: auto;
}
.header {
  width: 1366px;
  float: left;
}
.header > img {
  width: 100%;
}
.nav {
  width: 100%;
  height: 40px;
  margin: auto;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 40px;
}
.nav > ul > li {
  background-color: black;
  color: white;
  text-transform: uppercase;
  float: left;
  width: 20%;
  line-height: 40px;
  list-style-type: none;
  text-align: center;
}
.nav > ul > li:hover {
  color: white;
  background-color: rgb(77, 0, 0);
}
.nav > ul > li > .sub-menu {
  background-color: rgb(128, 0, 0);
  list-style-type: none;
  text-align: center;
  width: 18%;
  position: absolute;
  display: none;
}
.nav > ul > li > .sub-menu > li > .link-cate {
  color: white;
}
.nav > ul > li:hover > .sub-menu {
  display: block;
  z-index: 1;
}
.main {
  min-height: 100px;
  width: 100%;
  padding-top: 20px;
  float: left;
}
.content > .main > form > .side {
  width: 20%;
  height: 100px;
  float: left;
  margin-left: 20%;
}
.content > .main > .side-bar {
  width: 700px;
  margin: auto;
}
.content > .main > .side-bar > form > .side {
  width: 50%;
  height: 100px;
  float: left;
}
.content > .main > .side-bar > form > .side > img {
  padding-left: 30%;
}
.side-bar-proinfo {
  padding-top: 30px;
  width: 50%;
  float: left;
}
.side-bar-proinfo > .pro-info-image {
  width: 60%;
  padding-left: 20%;
}
.content > .main > .side-bar > form > .side > p {
  padding-left: 30%;
}
.content > .main > .side-bar > form > .side > input {
  margin-left: 30%;
}
.main > h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}
.fa_pro {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 24%;
  height: auto;
  float: left;
  padding-right: 1%;
}
.fa_pro > .pro_info > .pro_p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
}
.fa_pro > .pro_info > .pro_title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1%;
}
.fa_pro > .pro_img > img {
  width: 100%;
  padding-left: 1.5%;
}
.footer {
  padding-top: 30px;
  float: left;
  width: 1366px;
  min-height: 300px;
  text-align: left;
  background-color: black;
}
.footer > .contact {
  width: 30%;
  float: left;
  margin-right: 1.6%;
  margin-left: 1.6%;
}
.footer > .contact > p {
  margin-top: 10px;
  color: white;
}
.footer > .contact > h2 {
  color: white;
}
